@charset "utf-8";
/* CSS Document */
.adminPage{
	width : 900px;
	position: relative;
}
.ui-menu {
	width: 200px;
	border: solid 1px black;
}
.ui-menu a:hover{
	background-color: #348DCE;
}
.titleList{
	padding : 5px 0 5px 5px;
	background-color: #348DCE;
	color : #FFF;
}
#content{
	width: 680px;
	height: 500px;
	float: right;
}

#titleFrame{
	color:#113F8C;
    font-size:20px;
    text-decoration:none;
    text-shadow: 0.5px 1px 0px #E9F2F9,
               1px 1.5px 0px #c9c9c9,
               1.5px 2px 0px #B2D1E5,
               2px 2.5px 0px #b9b9b9,
               2.5px 3px 0px #B2D1E5;
}